<div class="bg-white">
    <form method="post" action="/?_method=PUT">
        <div class="row mb-3">
            <label for="nama" class="col-sm-2 col-form-label text-start">
                Nama
            </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="nama" name="nama" placeholder="Avanza" value="<%= cars.nama %>" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="biaya" class="col-sm-2 col-form-label text-start">
                Sewa Per Hari
            </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="biaya" name="biaya" placeholder="Rp 0,-" value="<%= cars.biaya %>" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="ukuran" class="col-sm-2 col-form-label text-start" required>
                Ukuran
            </label>
            <div class="col-sm-3">
                <select class="form-select" aria-label="carSize" id="ukuran" name="ukuran" required >
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="formFile" class="col-sm-2 col-form-label text-start">
                Foto
            </label>
            <div class="col-sm-3">
                <div>
                    <input class="form-control" type="file" id="foto" name="foto">
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-5 text-start">
                <button type="submit" class="btn bg-darkblue" style="width: 10%; color:#0D28A6; border: 1px solid #0D28A6;">
                    Cancel
                </button>
                    <input type="hidden" name="_id" value="<%= cars._id %>">
                    <button type="submit" class="btn bg-darkblue text-white" style="width: 10%; background: #0D28A6;">
                        Save
                </button>
            </div>
            
        </div>
    </form>
</div>