<div class="row"> 
    
    <div class="col-4">
        <div class="card mt-3 ms-0" style="width: 28rem;">
            <div class="card-body text-start">
                <img src="./mobil.jpg"  class="mt-5 mb-5" style="width: 100%;"/>
                <h5 class="card-title fs-6">Nama/Tipe Mobil</h5>
                <p class="card-text fw-bold fs-5">Rpxxxx/hari</p>
                <p class="card-text">
                    <i class="bi bi-clock"></i>
                    Updated at 4 Apr 2022, 09.00
                </p>
                <div class="d-flex justify-content-around">
                    <button type="button" class="btn btn-danger p-3 me-1" style="width: 100%;">
                        <i class="bi bi-trash me-3"></i>
                        Delete
                    </button>
                    <button type="button" class="btn btn-success p-3 ms-1" style="width: 100%;">
                        <i class="bi bi-pencil-square me-3"></i>
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mt-3 ms-0" style="width: 28rem;">
            <div class="card-body text-start">
                <img src="./mobil.jpg"  class="mt-5 mb-5" style="width: 100%;"/>
                <h5 class="card-title fs-6">Nama/Tipe Mobil</h5>
                <p class="card-text fw-bold fs-5">Rpxxxx/hari</p>
                <p class="card-text">
                    <i class="bi bi-clock"></i>
                    Updated at 4 Apr 2022, 09.00
                </p>
                <div class="d-flex justify-content-around">
                    <button type="button" class="btn btn-danger p-3 me-1" style="width: 100%;">
                        <i class="bi bi-trash me-3"></i>
                        Delete
                    </button>
                    <button type="button" class="btn btn-success p-3 ms-1" style="width: 100%;">
                        <i class="bi bi-pencil-square me-3"></i>
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mt-3 ms-0" style="width: 28rem;">
            <div class="card-body text-start">
                <img src="./mobil.jpg"  class="mt-5 mb-5" style="width: 100%;"/>
                <h5 class="card-title fs-6">Nama/Tipe Mobil</h5>
                <p class="card-text fw-bold fs-5">Rpxxxx/hari</p>
                <p class="card-text">
                    <i class="bi bi-clock"></i>
                    Updated at 4 Apr 2022, 09.00
                </p>
                <div class="d-flex justify-content-around">
                    <button type="button" class="btn btn-danger p-3 me-1" style="width: 100%;">
                        <i class="bi bi-trash me-3"></i>
                        Delete
                    </button>
                    <button type="button" class="btn btn-success p-3 ms-1" style="width: 100%;">
                        <i class="bi bi-pencil-square me-3"></i>
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mt-3 ms-0" style="width: 28rem;">
            <div class="card-body text-start">
                <img src="./mobil.jpg"  class="mt-5 mb-5" style="width: 100%;"/>
                <h5 class="card-title fs-6">Nama/Tipe Mobil</h5>
                <p class="card-text fw-bold fs-5">Rpxxxx/hari</p>
                <p class="card-text">
                    <i class="bi bi-clock"></i>
                    Updated at 4 Apr 2022, 09.00
                </p>
                <div class="d-flex justify-content-around">
                    <button type="button" class="btn btn-danger p-3 me-1" style="width: 100%;">
                        <i class="bi bi-trash me-3"></i>
                        Delete
                    </button>
                    <button type="button" class="btn btn-success p-3 ms-1" style="width: 100%;">
                        <i class="bi bi-pencil-square me-3"></i>
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mt-3 ms-0" style="width: 28rem;">
            <div class="card-body text-start">
                <img src="./mobil.jpg"  class="mt-5 mb-5" style="width: 100%;"/>
                <h5 class="card-title fs-6">Nama/Tipe Mobil</h5>
                <p class="card-text fw-bold fs-5">Rpxxxx/hari</p>
                <p class="card-text">
                    <i class="bi bi-clock"></i>
                    Updated at 4 Apr 2022, 09.00
                </p>
                <div class="d-flex justify-content-around">
                    <button type="button" class="btn btn-danger p-3 me-1" style="width: 100%;">
                        <i class="bi bi-trash me-3"></i>
                        Delete
                    </button>
                    <button type="button" class="btn btn-success p-3 ms-1" style="width: 100%;">
                        <i class="bi bi-pencil-square me-3"></i>
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>