* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.bg-darkblue {
    background: #0D28A6;
}

.bg-lightblue {
    background: #CFD4ED;
}

.active {
    display: none;
}

.sideBar_Menu_List li span{
    color: #8A8A8A;
    font-weight: 700;
    font-size: 14px;
}

.sideBar_Menu_List li a{
    font-size: 1em;
    color: #151515;
    font-weight: 700;
    font-size: 14px;
}

/* .display_none {
    display: none;
} */